@model WhatsApp_MVC.Models.ChatViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <title>Whatsapp History</title>
    <link rel="stylesheet" href="~/Content/Layout.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Colors.css" type="text/css">
</head>
<body>
    <div class="chatbox-header">
        <img src="~/Content/IMG/image1.jpg" />
        <div class="chatbox-header-text">
            <div class="chatbox-name">The Group Name That Is Very Long</div>
            <div class="chatbox-details">Alexander, Chin Foong, Kelvin, Kevin, Dale Martin, 012 258 4652</div> <!-- rules for name extraction, where n = number of words in full name, if n <=3, display n-1, else, display n-(n-1) -->
        </div>
    </div>
    <div class="msg-body">
        <ol class="">
            @{ 
                foreach (var item in Model.FormattedMessage)
                {
                    @Html.Raw(item);
                }
            }
        </ol>
    </div>
</body>
</html>
